.select{
    border: solid red;
    border-radius: 20px;

}

.test{
/* border: solid red; */
margin-top: 20px;
margin-right: 20px;
border-radius: 20px;
margin-bottom: 10px;
background-color: #1e4558;
color: aliceblue;

}

button{
    background-color: #1e4558;
    margin-right: 20px;
padding: 5px;
padding-right: 20px;
padding-left: 20px;
border-radius: 10px;
color: #f8eee3;

}

.btn-sucess{
    background-color: red;
}

.select{
    background: #f8eee3;
    /* color: aliceblue; */
}

.quotes{
    color: white;
    border: solid;
    width: 9cm;
    height: 4cm;
    text-align: center;
    background-color: #1e4558;
    margin-top: 1cm;
    margin-bottom: 1cm;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 10px;
    
}

.title{
    color: red;
}
